* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
}

.header {
  display: flex;
  width: 90rem;
  padding: 2.5rem 4.4375rem;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.menu__icon {
  display: none;
  width: 2.625rem;
  height: 1.1875rem;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 1px); /* вместо transform: translateY(50%); */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #7ae5fd;
  transition: all 0.2s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}

.button__navigator {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.09006rem;
  text-decoration: none;
  padding-right: 3.5rem;
}
.button__navigatorLast {
  padding-right: 0;
}
/* .header__button {
  padding-left: 1.5rem;
} */
.button__funt {
  border-radius: 5.44rem;
  background-color: #7ae5fd;
  padding: 1.3125rem 2.1875rem;
  border: none;
  color: #000;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.09006rem;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

.first__block {
  background-image: url(img/FrameFon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100rem;
  height: 50.0625rem;
}
.support__fund {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
.main__title {
  width: 42.89456rem;
  color: #fff;
  font-size: 4.0625rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3.85531rem;
  letter-spacing: -0.08125rem;
  padding-left: 1.615em;
  padding-top: 3.1em;
  padding-bottom: 0.3077em;
}
.main__description {
  width: 30.25rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 1em;
  padding-left: 5.25em;
}
.button__funtWhite {
  background-color: #fff;
  margin-left: 5.87em;
}

.section__description {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90rem;
  padding: 10rem 4.4375rem;
}
.description__support {
  width: 62.75rem;
  color: #000;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4.5rem;
  text-transform: uppercase;
  padding-bottom: 0.25em;
}
.our__meta {
  color: #000;
  text-align: center;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.025rem;
  padding-bottom: 0.3704em;
}
.description__help {
  color: #73a6b1;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.description__directions {
  display: flex;
  width: 90rem;
  padding: 0rem 4.4375rem 10rem 4.4375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  background: #fff;
}
.description__block {
  background: #f1fdff;
  display: flex;
  padding: 2.5rem 3.875rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}
.description__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.875rem;
  flex: 1 0 0;
}

.description__title {
  color: #000;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.45rem;
  letter-spacing: -0.0575rem;
  text-transform: uppercase;
  padding-bottom: 0.2174em;
}
.description__subtitle {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  padding-bottom: 0.5em;
}
.description__subtitleText {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.img__directions {
  width: 36.5625rem;
  height: 28.53644rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.625rem;
}

.our__mission {
  width: 90rem;
  height: 42.0625rem;
  background: #fff;
  display: flex;
}
.mission__text {
  background: #f1fdff;
  display: flex;
  width: 79.1875rem;
  padding: 5.625rem 3.875rem;
  align-items: center;
  position: absolute;
  margin-left: 5.44rem;
  margin-top: 13.8rem;
}
.fon5 {
  width: 44.6875rem;
  height: 25.625rem;
  z-index: 1;
  position: absolute;
  margin-left: 43rem;
  margin-top: 4.11rem;
}
.img__kids {
  width: 28.375rem;
  height: 35.4375rem;
  position: absolute;
  margin-left: 50.31rem;
  z-index: 2;
  margin-top: -2.14rem;
}
.mission__text h3 {
  color: #000;
  font-size: 1.70444rem;
  font-weight: 400;
  line-height: 120%;
  width: 35rem;
  height: 8rem;
}

.section__workSupport {
  display: flex;
  width: 90rem;
  padding: 0rem 4.4375rem 10rem 4.4375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 3.125rem; */
}
.support__workDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
}
.title__jobDescription {
  width: 62.75rem;
  color: #000;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%; /* 4.5rem */
  letter-spacing: -0.075rem;
  text-transform: uppercase;
}
.text__wordSupport {
  width: 46.19rem;
  color: #73a6b1;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.fundraising {
  color: #000;
  text-align: center;
  font-size: 1.6875rem;
  font-weight: 400;
  line-height: 2.025rem;
  margin-top: 3.12rem;
}
.funds__raised {
  display: flex;
  margin-top: 1.06rem;
  margin-bottom: 3.12rem;
}
.collected__fundsCounter {
  color: #000;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: -0.075rem;
  text-transform: uppercase;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.section__footer {
  background: #f9fadf;
  display: flex;
  width: 90rem;
  padding: 0rem 4.4375rem 10rem 4.4375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.footer__contacts {
  background: #f9fadf;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 5.8125rem;
  align-self: stretch;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
}
.contacts__text {
  color: #000;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: -0.075rem;
  text-transform: uppercase;
}
.number__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.number__text {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.contact__number {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding-bottom: 57px;
}
.social__media {
  display: flex;
  width: 2.0625rem;
  height: 2.0625rem;
}
.chat__botText {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 50px;
}
.chat__bot {
  width: 27.5rem;
}
.subscription__form {
  background-color: #fff;
  /* gap: 93px;
  flex: 1 0 0;
  width: 1298px;
  display: flex;
  padding: 60px;
  align-items: center;
  align-self: stretch;
  margin-left: auto;
  margin-right: auto; */
  display: flex;
  padding: 3.75rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.625rem;
}
.subscription__formText {
  width: 29.79169rem;
  color: #000;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.025rem;
  padding-top: 60px;
  padding-bottom: 39px;
}
.input__form {
  display: flex;
  flex-direction: column;
}
.input {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  border-radius: 3.8125rem;
  background: #f9fadf;
  display: flex;
  padding: 1.3125rem 25rem 1.3125rem 2.6875rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  margin-bottom: 31px;
  width: 3.693em;
  border: none;
}
.button__form {
  margin: 0;
}
